body {
  margin: 0;
  font-family: 'Georgia', serif;
  background-color: #0d1b2a;
  color: #f1f1f1;
}

header {
  background-color: #1b263b;
  color: #ff6fa2;
  padding: 2rem 1rem;
  text-align: center;
}

nav {
  background-color: #324b68;
  text-align: center;
  padding: 1rem;
}

nav a {
  color: #ff9ebc;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
  color: #ffc1d6;
}

section {
  padding: 2rem;
  text-align: center;
}

footer {
  background-color: #1b263b;
  text-align: center;
  padding: 1rem;
  color: #aaa;
}
